@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;






/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #1A1A1A;
}

body{
  background-color: #1A1A1A;
}
p,a{
  color: white;
}


.bg_prim{
  background-color: #1A1A1A;
}
.bg_sec{
  background-color: #2D2D2D;}
.bg_sec_light{
  background-color: #313131;
}

.bg-nutral{
  background-color:#F8F8F8 ;
}
.primary-red {
  color:#FF3624
}

.text-dark {
  color:#2E2C34
}
.text-light {
  color:#504F54
}



.nav_menu>li{
  margin-bottom: 32px;
  font-size: 16px;
}

.prim_text_xs_reg{
  font-size: 10px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_xs_reg{
  font-size: 10px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}
.prim_text_sm_reg{
  font-size: 12px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_sm_reg{
  font-size: 12px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}
.prim_text_sm{
  font-size: 12px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_sm{
  font-size: 12px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 600;
}
.prim_text_md{
  font-size: 14px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_md{
  font-size: 14px;
  /* color: white; */
  font-family: Manrope;
  /* font-weight: 600; */
}
.prim_text_md_reg{
  font-size: 14px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_md_reg{
  font-size: 14px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}

.prim_text_lg_reg{
  font-size: 16px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_lg_reg{
  font-size: 16px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}
.prim_text_lg{
  font-size: 16px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_lg{
  font-size: 16px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 600;
}


.prim_text_reg_exlg{
  font-size: 18px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_reg_exlg{
  font-size: 18px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}
.prim_text_exlg{
  font-size: 18px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_exlg{
  font-size: 18px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 600;
}

.prim_text_xl_reg{
  font-size: 20px;
  /* color: white; */
  font-family: Sora;
  font-weight: 400;
}
.sec_text_xl_reg{
  font-size: 20px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 400;
}
.prim_text_xl{
  font-size: 20px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_xl{
  font-size: 20px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 600;
}
.prim_text_2xl{
  font-size: 24px;
  /* color: white; */
  font-family: Sora;
  font-weight: 600;
}
.sec_text_2xl{
  font-size: 24px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 600;
}

.prim_text_5xl_b{
  font-size: 36px;
  /* color: white; */
  font-family: Sora;
  font-weight: 700;
}
.sec_text_5xl_b{
  font-size: 36px;
  /* color: white; */
  font-family: Manrope;
  font-weight: 700;
}




.btn_primary{
  min-height: 53px;
 background-color: #FF3624;
  border-radius: 8px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';

}
.btn_prim_user_db{
  min-height: 50px;
  background-color: #444444;
  border-radius: 14px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';
  padding: 2px 12px;
}
.btn_sec_user_db{
  min-height: 50px;
  background-color: #2E2D36;
  border-radius: 14px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';
  padding: 6px 20px;
  border:1px solid #444444;
  display: flex ;
  justify-content: center;
  align-items: center;
}
.btn_gray{
  max-width: 130px;
  min-height: 53px;
 background-color: #444444;
  border-radius: 14px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';
}
.btn_gray_update{
  min-width: 78px;
  min-height: 42px;
  border-radius: 12px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';
}
.btn_gray_md{
  min-height: 50px;
 background-color: #F5F4FE;
  border-radius: 8px;
  color:white;
  font-size: 16px;
  font-family: 'Sora';
  padding: 6px 20px;
  display: flex ;
  justify-content: center;
  align-items: center;
  color: #000;
}
.btn_outline{
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;
}
.white_btn{
  padding: 10px 20px;
  background-color: white;
 color: black;
 font-family: Sora;
  border-radius: 14px;
}

.white_btn_outline{
  padding: 10px 14px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 14px;
}


.white_btn_outline_md{
  padding: 6px 10px;
  background-color: #424242;
  border-radius: 14px;
}






